<div id="print-section" class="bg-gray-900 text-white p-8 rounded-lg shadow-lg max-w-2xl mx-auto">
  <div class="text-center mb-8">
    <h1 class="text-5xl font-bold">{{ 'QR_CODE.TITLE' | translate }}</h1>
    <p class="text-xl">{{ 'QR_CODE.SUBTITLE' | translate }}</p>
  </div>
  <div class="flex justify-center items-center">
    <div class="w-1/2 pr-8">
      <ul class="list-disc list-inside text-lg">
        <li class="mb-2">{{ 'QR_CODE.FEATURE_1' | translate }}</li>
        <li class="mb-2">{{ 'QR_CODE.FEATURE_2' | translate }}</li>
        <li class="mb-2">{{ 'QR_CODE.FEATURE_3' | translate }}</li>
        <li class="mb-2">{{ 'QR_CODE.FEATURE_4' | translate }}</li>
        <li>{{ 'QR_CODE.FEATURE_5' | translate }}</li>
      </ul>
    </div>
    <div class="w-1/2 text-center">
      <p class="text-lg mb-2">{{ 'QR_CODE.DISCOVER_NOW' | translate }}</p>
      <img [src]="qrCodeUrl" alt="QR Code" class="mx-auto">
      <p class="mt-2">{{ 'QR_CODE.TECH_URL' | translate }}</p>
    </div>
  </div>
  <div class="text-center mt-8">
    <p class="text-lg">{{ 'QR_CODE.SLOGAN' | translate }}</p>
  </div>
</div>
<div class="text-center mt-8">
    <button (click)="downloadAsPdf()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        {{ 'QR_CODE.DOWNLOAD_PDF' | translate }}
    </button>
</div>
